:root {
  --vp-c-brand-1: #3178c6;
  --vp-c-brand-2: #4b8cd0;
  --vp-c-brand-3: #265a99;
  --vp-c-brand-soft: rgba(49, 120, 198, 0.14);
}

.dark {
  --vp-c-brand-1: #4b8cd0;
  --vp-c-brand-2: #3178c6;
  --vp-c-brand-3: #6ba3db;
  --vp-c-brand-soft: rgba(49, 120, 198, 0.16);
}
